<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_post.css' %}" type="text/css">
</head>
<body>
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="{% static 'create_post.css' %}" type="text/css">
</head>
<body>
<main>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        {{ tags_form.as_p }}

        {{ image_form.as_p }}

        <button type="submit">Submit</button>
    </form>

    {% if form.errors %}
        <div class="alert">
            {{ form.errors }}
        </div>
    {% endif %}
</main>
    {% block footer %}
    {% endblock %}
</body>


{% endblock %}
