{% extends 'base.html' %}

{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Form</title>
    <link href="{% static 'profile_settings.css' %}" rel="stylesheet" type="text/css" />
    <!-- Add Bootstrap CSS link here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ user_form.as_p|safe }}
            </div>

            <div class="form-group">
                {{ profile_form.as_p|safe }}
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
{% endblock %}
{% block footer %}
{% endblock %}

</html>
